server {
  listen      *:{{kibana_port}};
  server_name localhost;

  location / {
    root  {{kibana_basedir}}/kibana-{{kibana_version}};
    index index.html index.htm;
    allow {{home_ip}}/{{home_netmask}};
    deny all;
  }
}
